<% include ../partials/_head.ejs %>

<section class="signup">
    <div class="banner">
        <p>SIGN UP FOR THE LATEST NEWS</p>
    </div>
    <div class="container">
            <p class="lead">Thank you for subscribing!</p>
            <small>Check your inbox for a confirmation email.</small>
    </div>

</section>

<% include ../partials/_footer.ejs %>