<% include partials/_head.ejs %>

    <div>
        <h1>Dashboard</h1>
    </div>
    <img src="./public/images/Account-Dashboard.jpg" class="img-fluid" alt="Responsive image">

    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>Lenny</td>
                  <td>Danger</td>
                  <td>ld@gmail.com</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Derek</td>
                  <td>Anderson</td>
                  <td>da@gmail.com</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Ashley</td>
                  <td>Gomez</td>
                  <td>ag@gmail.com</td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Arthur</td>
                  <td>Melo</td>
                  <td>am@gmail.com</td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>Seed</td>
                  <td>Data</td>
                  <td>sd@gmail.com</td>
                </tr>
                <tr>
                  <td>06</td>
                  <td>Not</td>
                  <td>Dynamic</td>
                  <td>nd@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>


<% include partials/_footer.ejs %>


